<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact-page</title>
</head>
<body>
    <a href= "/"> go back to home</a>
    <h1>this is contact page</h1>
    <h4> mob no 8112727048 - thamks you </h4>
    <p><i>the text shared by you is given below </i></p>
    <pre> {{textinput}}</pre>
    <p><b>the updated text without punctutions is :</b></p>
    <pre>{{updatedtextp}}</pre>
    <p><b>the updated capitalsed text is :</b></p>
    <pre>{{updatedtextc}}</pre>
</body>
</html>